es-prod:
  image: elasticsearch
  ports:
   - 49300:9300
   - 49200:9200

es-testing:
  image: elasticsearch
  ports:
   - 59300:9300
   - 59200:9200

redis-prod:
  image: redis:2.8
  ports:
   - 6363:6379
  volumes:
   - ./dropbox/cfp-backups/prod/redis:/data/
   - ./logs/prod:/var/log/redis/
   - ./redis/redis-config-prod.conf:/etc/redis.conf
  command: redis-server /etc/redis.conf

redis-testing:
  image: redis:2.8
  ports:
   - 6364:6379
  volumes:
   - ./dropbox/cfp-backups/testing/redis:/data/
   - ./logs/testing:/var/log/redis/
   - ./redis/redis-config-testing.conf:/etc/redis.conf
  command: redis-server /etc/redis.conf

cfp-prod:
  build: ./webapp
  ports:
   - 8100:9000
  links:
   - es-prod:es
   - redis-prod:redis
  environment:
   - VIRTUAL_HOST=cfp.bdx.io
   - LETSENCRYPT_HOST=cfp.bdx.io
   - LETSENCRYPT_EMAIL=team@bdx.io
  volumes:
   - ./cfp-src-prod:/cfp-src/
   - ./http-le-challenge:/ext-assets

cfp-testing:
  build: ./webapp
  ports:
   - 8000:9000
  links:
   - es-testing:es
   - redis-testing:redis
  environment:
   - VIRTUAL_HOST=cfp-testing.bdx.io
   - LETSENCRYPT_HOST=cfp-testing.bdx.io
   - LETSENCRYPT_EMAIL=team@bdx.io
  volumes:
   - ./http-le-challenge:/ext-assets
   - ./cfp-src-testing:/cfp-src/

http:
  image: jwilder/nginx-proxy
  ports:
   - "80:80"
   - "443:443"
  volumes:
   - ./certs:/etc/nginx/certs:ro
   - /etc/nginx/vhost.d
   - ./http-le-challenge:/usr/share/nginx/html
   - /var/run/docker.sock:/tmp/docker.sock:ro

http-letsencrypt-companion:
  image: jrcs/letsencrypt-nginx-proxy-companion
  volumes:
   - ./certs:/etc/nginx/certs:rw
   - /var/run/docker.sock:/var/run/docker.sock:ro
  volumes_from:
   - http
